*{
    box-sizing:border-box;
    font-family: monospace;
}
body{
    background-image: linear-gradient(to bottom left, cadetblue, #f3d8db);
    display: flex;
    gap: 10%;
    margin:0px;
    padding: 1% 32px;
}

.pageData{
    width:42%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
header{
    text-align:center;
}
header h1{
    margin:0;
    font-size: 3.5em; 
    font-weight: 400;  
    font-family: 'Monaco';
    color:#2e2b2b;
}
header>.gridSize{
    margin:0;
    font-size: 1.2em;
    color:#6a6868;
}
header>.theme{
    font-size: 1.2em;
    color:#2e2b2b;
    background-color: rgb(173,154,154);
    opacity: 0.6;
    margin:40px 0px 20px;
}

.pageMenu{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: center;
}

.inputMenu{
     display:flex;
}
.inputMenu>label{
    padding: 15px;
    background-color:#efefef;
    width:55%;   
}
#sizeInput{
    width:25%; 
    border:0px;
    outline:0px;
    text-align: center;
    font-size: 1em;
}
.inputMenu>.sizeBtn{
    width:20%;
    background-color: white;
    border: 0;
    font-size: 1.2em;
}

.distinctScale{
    padding:9px;
    display: block;
    background-color: #efefef;
}
#colorPicker{border: none;}

.clearBtn, .grayScale, .coloredScale{
    padding:15px;   
}
.clearBtn, .grayScale, .coloredScale, .inputMenu, .distinctScale{
    width:80%;
    border:none;
    text-align: center;
    font-size: 1.2em;
}

.container{
    display:flex;
    width:45%;
    flex-flow:wrap;
    background-color: whitesmoke;
}

@media only screen and (max-width:1024px){
    body{
        flex-direction: column;
        padding:0;
        align-items: center;
        gap:0px;
        margin:10% 5%;
    }

    header>h1{font-size: 2.5em;}
    header>.gridSize{font-size: 1em;}
    .pageData{
        width:100%;
        gap:30px;
    }
    .pageMenu{
        width:100%;
        flex-flow: wrap;
    }
    .inputMenu{width:65%;}
   .inputMenu > label{
        display:flex;
        justify-content: center;
        align-items: center;
    }
   .clearBtn, .grayScale, .coloredScale{width:45%;}
   .distinctScale{padding:10.5px; width:45%}
   .container{width:100%;}
}

@media only screen and (max-width:400px){
    body{
        flex-direction: column;
    }
    header > h1{font-size: 2em;}
    .pageData{gap:55px;}
    .pageMenu{  
        overflow: scroll;
        flex-direction: column;
        height:50px;
        margin-bottom: 30px;
    }
    .clearBtn, .grayScale, .coloredScale, .inputMenu, .distinctScale {width: 70%;}
    header>.theme {top: 135px;}
}