*{
    box-sizing:border-box;
    font-family: monospace;
}
body{
    margin:0;
}

header h1{
    color:olive;
    text-align: center;
    font-size: 3em;   
}
h1:hover{
    color:red;
}
.container{
    display:flex;
    width:80%;
    margin:25px auto;
    padding:1%;
    flex-flow:wrap;
}
.squareDiv:hover{
    background-color: cadetblue;

}
/* .container > :nth-child(2):hover{
    color:red;
    font-size:40px;
} */